#hide{
    display: block;
   }
    body{
        padding: 0px;
        margin: 0px;
        height: 100%;
        width: 100%;
        /* background-image: url(2.jpg);
        background: cover;
        background: no-repeat; */
        background-color: rgb(52, 86, 75);
        
        
    }
    .col-lg-6{
        background-color: rgba(231, 141, 23, 0.432);
    }
   
    .position{
        margin: 50px;
    }
   
    .main{
    height: 500px;
    width: 800px;
    background-color: rgba(185, 180, 180, 0.763);
    margin: 50px 00px 00px 350px;
    font-size: 20px;
}
.food{
    height: 500px;
    width: 350px;
    float: left;
}
.blance{
    height: 500px;
    width: 350px;
    float: left;
}
h4{
    margin: 20px 00px 60px 50px;
}
.main{
  display: none;
}